<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <style type="text/css" media="screen">
        [class*="col"]{
            background-color: lightgreen;
            border: solid;
            border-radius: 5px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div class="row">
    <div class="col-sm-8">
        <div class="navbar navbar-default">

        </div>
    </div>
    <div class="col-sm-offset-2 col-sm-2">
    </div>
</div>
<!-- end of the Header.... -->
<!-- End of the body of the document -->
<!-- Begining of the footer -->
<div class="row">
    <div class="col-sm-12">
        Here is the footer...
    </div>
</div>

</body>
</html>